*{
    padding: 0px;
    box-sizing: border-box; 
}

#about-page{
  position: relative;
  overflow:hidden;
}

/*styling the image on landing page*/
.main{
  width: 100%;
}

#landing-page{
  background: url("../images/Amboseli-National-Park-Kenya-_662889487.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
    width:100%;
  }
  
  .button{
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
  }
  
  .btn{
      justify-content: center;
      text-align:right;
      background: #328f32;
      border: none;
      outline: none;
      padding: 20px;
      margin: 20px;
      border-radius: 5px;
      color: #fff;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: bold;  
      margin-left: 35%;
      margin-top: 10 %;    
  }
  
  .btn:hover{
      color: rgb(247, 223, 15);
      cursor: pointer;
  }

/*styles for about-content*/
.about-content{
  background-color: rgb(80, 105, 80);
  padding: 30px;
}

.about-content>h2{
  text-align: center;  
  color: rgb(250, 245, 245);
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 24px;
}

.about-content>p{
  text-align: center;  
  line-height: 21px;
  padding-bottom: 15px;
  color: white;
  font-size: 18px;
}
  
  @media screen and (max-width: 650px) {
    .about-content {
      width: 100%;
    }
  }

  /*styles for what*/
.what{
  background-color: rgb(15, 15, 15);
  padding: 30px;
}

.what>h2{
  text-align: center;  
  color: rgb(250, 249, 249);
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 30px;
}

.what>p{
  text-align: center;  
  line-height: 21px;
  padding-bottom: 15px;
  color: white;
  font-size: 24px;
  line-height: 25px;
}
.what >h5{
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  text-transform: capitalize;
}
  
  @media screen and (max-width: 650px) {
    .what {
      width: 100%;
    }
  }

 /* services */
/* Float 3 columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 10px 10px;
  padding-left: 20px; 
  line-height: 30px;
  margin-bottom: 30px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}

/* Style the counter cards */
.card { 
  padding: 8px;
  text-align: left;
  background-color: #f1f1f1;
}

.card >h2{
  color:red;
  text-align: center;
}

/* meet our team */
/* Whole html box designing */ 
html { 
  box-sizing: border-box; 
} 

/* Body width fixing */ 
body { 
  max-width: 100% 
} 

/* styling for teams */ 
*, 
*:before, 
*:after { 
  box-sizing: inherit; 
} 

/* Styling column */ 
.column-team { 
  float: left; 
  width: 25%; 
  margin-bottom: 16px; 
  padding: 5px 10px; 
  background-color: rgb(197, 206, 206);
  text-align: center;
} 


/* Column width change depends on screen size */ 
@media screen and (max-width: 670px) { 
  .column-team { 
      width: 100%; 
      text-align: none; 
  } 
} 

/* t-content designing */ 
.t-content { 
  background-color: gray; 
  border: 1px solid black; 
} 

/* Icon styling */ 
.t-content >.fa { 
  margin: 10px; 
  font-size:68px; 
} 

.t-content>.fa:hover { 
  transform: rotateY(180deg); 
  transition: transform 0.8s; 
} 
.container { 
  padding: 0 16px; 
} 

.container::after, 
.row::after { 
  content: ""; 
  clear: both; 
  display: table; 
} 

/* Button designing */ 
.button { 
  border: none; 
  padding: 8px; 
  color: white; 
  background-color: #449D44; 
  text-align: center; 
  cursor: pointer; 
  width: 100%; 
  margin-bottom: 10px; 
} 

/* Hover efect on button */ 
.button:hover { 
  background-color: green; 
} 
