*{
	padding: 0;
	margin:0;
	text-decoration: none;
}

body{
	margin: 2px 5px 2px 5px;
    background-color:wheat;
    opacity: 1;
}

.top-image{
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	background:url('images/travel1.jpg');
}

header{
	height: auto;
	width: 100%;
	min-height: 25%;
	position: relative;
	top: 0;
	left:0;
	overflow: hidden;
									;
}

#heads{
    background-size: 100% 100%;
}


.top-left i, .top-right i{
	color: yellow;
	padding: 5px;
	font-size: 18px;
}
.top{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;	
}

.top-left{
	float: left;
	margin-top: 10px;
}

.top-right{
	float: right;
	margin-top: 10px;
}

.top-right i, .top-left i{
	min-width: 100px;
}

.bottom{
	width: 80%;

	margin-right: 10%;
	margin-left: 10%;	
}
.bottom-right{
margin-top: 12%;
float: right;
margin-right: -3%;
}
.bottom-left{
	float: left;
	margin-top: 1.5%;
	margin-right: 80%;
}

.bottom-left img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	float: left;
	line-height: 200px;

}
.bottom-left h3{
	margin-top: 5%;
	margin-left:10px;
	font-size: 18px;
	width: 580px;
	color: white;	
}

.bottom-left p{
	font-size: 18px;
	color: white;
}

.bottom-right ul{
	margin-top: -35%;

}

.bottom-right ul li{
	display: inline-block;
	min-width: 100px;
	text-align: center;
}

.bottom-right ul li a{
	color: white;
	opacity: 1;
	font-size: 18px;
	text-align: center;
}

.bottom-right ul li a:hover{
	background:darkgrey;
	padding: 10px;
	border-radius:5px;
	width: 150px;
}

.checking{
	float:right;
	cursor:pointer;
	font-size: 30px;
	color: white;
	margin-right: 1%;
	margin-top: 1%;
	display: none;

}

#checked{
	margin-right: 1%;
	margin-top: 1%;
	display: none; 


}

section.thissection{
	margin-top: %;
	min-height: 70%;
}
.section2{
	margin-top: 50px;
	min-height: 70%;
}


footer{
	min-height: 30%;
	bottom: 0;
	text-align: center;
}

.footer1{
	width: 100%;
	background: grey;
	min-height: 200px;											


}
.footer2{
	margin-left: 20%;
	width: 20%;
	float: left;
	line-height: 20px;

}
.footer2 img{
	width: 100px;
	min-height: 100px;
	border-radius: 50px;
	margin-top:20px;
	margin-left: -80%;}
.footer2 p.ff1{
	margin-top: 5%;
	margin-left: ;
	font-style: italic;
	margin-right: 2%;
	line-height: 20px;

}

.footer3{
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 20px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	font-style: italic;
	margin-left: 2%;
	font-size: 15px;
	line-height: 25px;
	margin-right: 2%;}


.footer4{
	margin-right:;
	width: 20%;
	float: left;
	margin-top: 20px;
	font-style: italic;
	line-height: 25px;

}
.footer4 i{
	font-size: 30px;
	margin-right: 5px;
}
.footer5{
	width:100%;
	background: rgb(85,107,47);
	text-align: center;
	height: 100px;
	align-items: center;
	align-content: center;
	line-height:100px;
	font-size: 25px;
}

@media(max-width: 1250px){

	.bottom-left h3{
		font-size: 15px;

	}
	.bottom-right, .top-right, .top-left{
		font-size: 12px;

	}
	.bottom-left{
		font-size: 18px;
		width: 40%;
		

	}
	.top-right{
		float: right;
	}
	.bottom-right{
		margin-top:9%;
		float: right;
		margin-right: -40;
	}

}

@media(max-width: 900px){
	header{ height: 450px; }
		.checking{
		display: block;
		color: white;
		font-size: 30px;
		float: right;
	}


	.top-left{
		display:none;
		margin-left: 50px;
	}
	.top-right{
		width: 95%;
		float: left;
		margin-top: 10px;
	}
	.top-right ul {

		width: 70px;
		margin-top: 10px;
	}
	.bottom-right, .top-right {
		font-size: 12px;

	}
	.bottom-left{
		font-size: 18px;
		width: 100%;
		margin-top: 5%;
		float: left;
	}

	.botton-left ul{
		display: inline-block;margin-top: 40px;
	}
	.bottom-right{
	width: 100%;
	float:left;

	}
	.bottom-right ul{	
		width: 100%;
		text-align:center;
		line-height: 40px;
		max-height: 15%;
		margin-left:;
		margin-top: 1%;
		transition: all 1s;

	}
	#checked:checked ~ .ul{
		margin-left: 100%;
	}

	.bottom-right ul li{
		display:block;
		width: 100%;
	}
		.bottom-right ul li a:hover{
		background: none;
		font-style:underline;
		color: blue;
	}
	.footer1{
		min-height: 550px;
		width: 100%;
	}
	
	.footer2{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 2%;
	} 

	.footer3{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 5%;
	} 

	.footer4{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 5%;
	}

	.footer2 img{
		margin-top: ;
		margin-left: -60%;
	}

}


@media(max-width: 720px){
	header{
		height: 450px;	
	}
	.checking{
	display: block;
	color: white;
	font-size: 25px;
	float: right;
	}

	.top-right{
		display: none;
	}
	.top-left{
		display: inline-block;
		float:left;
		width: 90%;
	}

	.bottom-left{
		margin-top: 5%;
		width: 100%;
		float: left;
		font-size: 19px;
	}
	.bottom-left h3{
		font-size: 16px;
		margin-top: 40px;

	}

	.bottom-right{
		width: 100%;
		float:left;
		margin: 0;

	}
	.bottom-right ul{
		display: block;
		width: 100%;
		text-align:center;
		line-height: 40px;
		height: 20%;
		transition: all;
		margin-top: 10%;

	}

	.bottom-right ul li{
		display:block;
		width: 100%;
	}
		.bottom-right ul li a:hover{
		background: none;
		font-style:underline;
		color: blue;
	}

	#checked:checked ~ ul{
		margin: 0;	
	}

		.footer1{
		min-height: 550px;
	}
	
	.footer2{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 2%;

	} 

	.footer3{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 5%;
	} 

	.footer4{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 5%;
	}

	.footer2 img{
		margin-left: -60%;
	}
	
}



@media(max-width: 310px){
	header{
		height: 450px;	
	}
	.checking{
	display: block;
	color: white;
	font-size: 25px;
	float: right;
	}
	.bottom-left h3{
		font-size: 10px;
	}
	.top-right{
		display: none;
	}
	.top-left{
		display: inline-block;
		float: left;
		width: 90%;
	}

	.bottom-left{
		margin-top: 5%;
		width: 100%;
		float: left;
		font-size: 19px;
	}
	.bottom-left h3{
		font-size: 16px;
		margin-top: 40px;

	}

	.bottom-right{
		width: 100%;
		float:left;
		margin: 0;

	}
	.bottom-right ul{
		display: block;
		width: 100%;
		text-align:center;
		line-height: 40px;
		height: 20%;
		transition: all;
		margin-top: 10%;

	}

	.bottom-right ul li{
		display:block;
		width: 100%;
	}
		.bottom-right ul li a:hover{
		background: none;
		font-style:underline;
		color: blue;
	}


	#checked:checked ~ ul{
		margin: 0;	
	}
		.footer1{
		min-height: 550px;
	}
	
	.footer2{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 2%;
	} 

	.footer3{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 5%;
	} 

	.footer4{
		width: 100%;
		float: left;
		margin: 0;
		margin-top: 5%;
	}

	.footer2 img{
		margin-left: -60%;
	}
	.footer5{
		font-size:15px;
	}

}






